body {
    font-family: sans-serif;
    background: radial-gradient(#003300, #000000);
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 3em;
    margin-top: 0.5em;
  }
  .table {
    background: rgb(67, 56, 165);
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    margin: auto;
  }
  .hand {
    margin: 20px 0;
  }
  .card-img {
    height: 100px;
    margin: 0 5px;
    border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    background: #222;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background: #555;
  }
  #result {
    font-size: 1.5em;
    margin-top: 20px;
  }
  .score {
    margin-top: 10px;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
  }
